/* Applying styling to all h1 elements only */

h1 {
  font-size: 40px;
  background-color: rgb(247, 91, 208);
  color: blueviolet;
}

ol {
  border: 1px solid;
  border-radius: 10px;
  
  
}

ul {
   border: 1px solid;
  border-radius: 10px;
  border-color: blueviolet;
}

image {
  border-radius: 20px;
}
