input {
    width: 40%;
}

label {
    font-family: Tahoma, sans-serif;
}

/* weight 10 = class selector */
/* CSS attribute selector, selecting all input elements */
[type=text], [type=email] {
    padding: 2px 2px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid purple;
}

/* next-sibling combiner */
[type=radio] {
    width:20px;
}

[type=radio] + label {
    color: purple;
}

textarea {
    border: 2px dotted purple
}

[type=submit] {
    background-color: plum;
    color: purple;
}

div {
    width: 100px;
    height: 100px;
    background-color: rgb(240, 145, 255);
    transition: width 2s, height 4s, background-color 4s;

/* delay transition start for 2 seconds */
/* transition-delay: 1s; */

/* play transition slow and beginning and end */
transition-timing-function: ease-in;

/* 
The transition-timing-function property specifies the speed curve of the transition effect.

This property can have one of the following values:

ease - transition will start slow, then go fast, and end slow (this is default)
linear - transition will keep the same speed from start to end
ease-in - transition will start slow
ease-out - transition will end slow
ease-in-out - transition will have a slow start and end

*/
 
}

div:hover {
    width: 200px;
    height: 200px;
    background-color: blue;
}



@keyframes move {
    from {background-color: pink;}
    to {background-color: blue;}
}

@keyframes move2 {
    0% {
        background-color: red;
        left:0px;
        top:0px;
    }
    25% {
        background-color: yellow;
        left:200px;
        top:0px;
    }
    50% {
        background-color: blue;
        left:200px;
        top:200px;
    }
    75% {
        background-color: green;
        left:0px;
        top:200px;
    }
    100% {
        background-color: red;
        left:0px;
        top:0px;
    }
}

/* the element to apply the animation to */
/* CSS animation */
.animation {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: yellow;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

