/* default position: static */
.parent {
    /* position: relative; */
    height: 2000px;
}

/* 
2️⃣. relative : When you set an element's position to relative, you can use the top, bottom, left, or right properties to move the element relative to its normal position. 
Other elements on the page still occupy their original space, and the moved element may overlap or leave a gap depending on the direction of movement.
*/
.child-one {
    /* position: relative; */
    /* top: 100px; */
    /* left: 100px; */
}

/* 
3️⃣. absolute: 
⭐If the parent element has position: static, the absolutely positioned element will use the HTML <body>(or the nearest positioned ancestor) as its reference point. 
⭐If the parent element has a non-static position (for example, relative, absolute, or fixed),the absolutely positioned element will be positioned relative to that parent. 
⭐position: absolute removes the element from the normal document flow, allowing it to overlap other elements.
*/
.child-two {
    /* position: absolute; */
    /* top: 0; */
}

/* 
4️⃣. fixed : Fixed to a place. Doesn't care about the parent. 
Always considers html element as the parent. 
They do not move when the page is scrolled.  
This is often used for elements like navigation bars or headers that you want to stay visible at all times.
*/
.child-three {
    /* position: fixed; */
    /* top: 0; */
    /* left:200px; */

}

/* 
5️⃣. sticky: Sticky positioning is a hybrid of relative and fixed positioning. 
An element with position: sticky, behaves like position: relative, until it reaches a specified scroll position,after which it becomes position: fixed,and sticks to a designated position in the viewport. 
This is commonly used for creating sticky headers or sidebars in web designs. 
*/
.child-four {
    position: sticky;
    top: 0px;
    z-index: 2;
}

/* 
6️⃣.z-index: 
a. Must set position not static. 
b. The bigger number wins
*/

.child-five {
    position: relative;
    z-index: 1;
}



/* color styles */
.parent {
    background-color: #0fa8f9;
    border: #094261 10px solid;
}

.child-one {
    background-color: #76fe77;
    border: #58bc58 5px solid;
}

.child-two {
    background-color: #f37674;
    border: #a95150 5px solid;
}

.child-three {
    background-color: #f576e7;
    border: #9a5193 5px solid;
}

.child-four {
    background-color: #f5bc76;
    border: #96744b 5px solid;
}

.child-five {
    background-color: #f2f7a1;
    border: #979d2f 5px solid;
}
 